<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SGBD2016_BibliothequeEntities" connectionString="metadata=res://*/BiblioModel.csdl|res://*/BiblioModel.ssdl|res://*/BiblioModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SGBD2016_Bibliotheque;user id=lecteur;password=lecteur;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>