USE [master]
GO
/****** Object:  Database [SGBD2016_Bibliotheque]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE DATABASE [SGBD2016_Bibliotheque]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SGBD2016_Bibliotheque', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SGBD2016_Bibliotheque.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SGBD2016_Bibliotheque_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SGBD2016_Bibliotheque_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SGBD2016_Bibliotheque].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SGBD2016_Bibliotheque]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [usertest]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [usertest] WITH PASSWORD=N'z07t0gunJEtCYRLgpmS6Mm5UexJNr6QSjMks+8wsBhk=', DEFAULT_DATABASE=[test], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=ON, CHECK_POLICY=ON
GO
ALTER LOGIN [usertest] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [user3]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [user3] WITH PASSWORD=N'LwVRBQZMah3EpEE/fg4f5JrwGJPv4gb1DhMcvbAR2zo=', DEFAULT_DATABASE=[DBClients], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=ON, CHECK_POLICY=ON
GO
ALTER LOGIN [user3] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [user2]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [user2] WITH PASSWORD=N'ZShy2XA/PXZsv2SaUOxO8eMta56HyNcWbzmQiPpOsQ0=', DEFAULT_DATABASE=[DBClients], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=ON, CHECK_POLICY=ON
GO
ALTER LOGIN [user2] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [user1]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [user1] WITH PASSWORD=N'9sSszgNws5f/bAiB3+rh/Ytf2niIo/Tsh2quMskvamU=', DEFAULT_DATABASE=[Bibliotheque], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [user1] DISABLE
GO
/****** Object:  Login [Simon-pc\Simon]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [Simon-pc\Simon] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\ReportServer]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [NT SERVICE\ReportServer] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [lecteur]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [lecteur] WITH PASSWORD=N'bNO+SQsmv36aW1wsVu5sOmjbI1ZPcMTfpCUeXtel1pw=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [lecteur] DISABLE
GO
/****** Object:  Login [AUTORITE NT\Système]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [AUTORITE NT\Système] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [AUTORITE NT\SERVICE RÉSEAU]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [AUTORITE NT\SERVICE RÉSEAU] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [adminBiblio]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [adminBiblio] WITH PASSWORD=N'6A0YrwFsp+aW8VUe2weXzfxoU6neCqylKxapYUzFk+I=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [adminBiblio] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'nqlTQbYT0VU2z7HHojMzhpveR1AbGjE/EEfgneCJ6ZI=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'44Ubn66JKF8+eUV2Ghq9oilDGAiKLE36eCyPWYNHjM8=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
/****** Object:  Login [l_certSignSmDetach]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE LOGIN [l_certSignSmDetach] FROM CERTIFICATE [_##PDW_SmDetachSigningCertificate##]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [Simon-pc\Simon]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [l_certSignSmDetach]
GO
USE [SGBD2016_Bibliotheque]
GO
/****** Object:  User [lecteur]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE USER [lecteur] FOR LOGIN [lecteur] WITH DEFAULT_SCHEMA=[lecteur]
GO
/****** Object:  User [adminBiblio]    Script Date: 13-Jan-17 07:26:35 ******/
CREATE USER [adminBiblio] FOR LOGIN [adminBiblio] WITH DEFAULT_SCHEMA=[dbo]
GO
GRANT CONNECT TO [adminBiblio] AS [dbo]
GO
GRANT CONNECT TO [lecteur] AS [dbo]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Schema [adminBiblio]    Script Date: 13-Jan-17 07:26:36 ******/
CREATE SCHEMA [adminBiblio]
GO
GRANT EXECUTE ON SCHEMA::[adminBiblio] TO [adminBiblio] AS [dbo]
GO
/****** Object:  Schema [lecteur]    Script Date: 13-Jan-17 07:26:36 ******/
CREATE SCHEMA [lecteur]
GO
GRANT EXECUTE ON SCHEMA::[lecteur] TO [lecteur] AS [dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[ADM_CheckLogin]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<FUNCTION QUI VERIFIE L''EXISTANCE D''UN ADMINISTRATEUR ET SON PASSWORD POUR LUI PERMETTRE L''ACCESS AU GUI LECTEUR>
-- =============================================

CREATE FUNCTION [dbo].[ADM_CheckLogin] (@UserName nvarchar(50),
	@Password nvarchar(50))
RETURNS bit
AS
BEGIN
     declare @exist bit
	 SET @exist = 0
	 
	 IF exists( SELECT  ADM_UserName, ADM_Password FROM Administrateur WHERE ADM_UserName = @UserName AND ADM_Password = @Password)
	 BEGIN
		SET @exist = 1
	 END
	 
	 RETURN @exist
END








GO
/****** Object:  UserDefinedFunction [dbo].[EMP_CalculJoursRetard]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<FUNCTION QUI RETOURNE le nombre de jours de retard>
-- =============================================

CREATE FUNCTION [dbo].[EMP_CalculJoursRetard] (@DateEmprunt datetime)
RETURNS int
AS
BEGIN
	DECLARE @jours int

	SET @jours = (DATEDIFF(DAY,@DateEmprunt,GETDATE()) - 10)

	IF (@jours <=0)
	BEGIN
		SET @jours = 0
	END


	RETURN (@jours)

END







GO
/****** Object:  UserDefinedFunction [dbo].[EMP_CalculMontantRetard]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<FUNCTION QUI RETOURNE le montant du retard>
-- =============================================

CREATE FUNCTION [dbo].[EMP_CalculMontantRetard] (@Id_Bib int, @Annee int, @JourDeRetard int)
RETURNS decimal
AS
BEGIN
	DECLARE @Tarif decimal
	If (@JourDeRetard < 0)
	BEGIN
		set @JourDeRetard = 0
	END

	SELECT	@Tarif = TAR_Retard
	FROM	Tarif INNER JOIN
			Bibliotheque ON Tarif.BIB_ID = Bibliotheque.BIB_ID
	WHERE	(Bibliotheque.BIB_ID = @Id_Bib) AND (Tarif.TAR_AnneeApplication = @Annee)

	RETURN(
		SELECT	(@Tarif * @JourDeRetard) AS TotalMontant
		FROM	Bibliotheque INNER JOIN
				Tarif ON Bibliotheque.BIB_ID = Tarif.BIB_ID
		GROUP BY Bibliotheque.BIB_ID, Tarif.TAR_AnneeApplication
		HAVING	(Bibliotheque.BIB_ID = @Id_Bib) AND (Tarif.TAR_AnneeApplication = @Annee)
		)
END







GO
/****** Object:  UserDefinedFunction [dbo].[LEC_CheckLogin]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<FUNCTION QUI VERIFIE L''EXISTANCE D''UN LECETEUR ET SON PASSWORD POUR LUI PERMETTRE L''ACCESS AU GUI LECTEUR>
-- =============================================

CREATE FUNCTION [dbo].[LEC_CheckLogin] (@UserName nvarchar(50),
	@Password nvarchar(50))
RETURNS bit
AS
BEGIN
     declare @exist bit
	 SET @exist = 0
	 
	 IF exists( SELECT  LEC_UserName, LEC_Password FROM Lecteur WHERE LEC_UserName = @UserName AND LEC_Password = @Password)
	 BEGIN
		SET @exist = 1
	 END

	 RETURN @exist
END








GO
/****** Object:  Table [dbo].[Administrateur]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrateur](
	[ADM_Id] [int] IDENTITY(1,1) NOT NULL,
	[ADM_UserName] [nvarchar](50) NOT NULL,
	[ADM_Password] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bibliotheque]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bibliotheque](
	[BIB_ID] [int] IDENTITY(1,1) NOT NULL,
	[BIB_Code] [nvarchar](50) NOT NULL,
	[BIB_Libelle] [nvarchar](50) NOT NULL,
	[BIB_Adresse] [nvarchar](250) NULL,
	[BIB_Ville] [nvarchar](50) NOT NULL,
	[BIB_CodePostal] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Emprunt]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emprunt](
	[EMP_Id] [int] IDENTITY(1,1) NOT NULL,
	[EMP_DateEmprunt] [datetime] NOT NULL,
	[EMP_DateRetour] [datetime] NULL,
	[EMP_MontantPaye] [decimal](25, 0) NULL,
	[EXE_Id] [int] NOT NULL,
	[LEC_Id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exemplaire]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exemplaire](
	[EXE_Id] [int] IDENTITY(1,1) NOT NULL,
	[EXE_Code] [nvarchar](50) NOT NULL,
	[EXE_DateAchat] [nvarchar](50) NOT NULL,
	[EXE_Indisponible] [bit] NULL,
	[BIB_ID] [int] NOT NULL,
	[LIV_Id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lecteur]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecteur](
	[LEC_Id] [int] IDENTITY(1,1) NOT NULL,
	[LEC_Nom] [nvarchar](50) NOT NULL,
	[LEC_Prenom] [nvarchar](50) NOT NULL,
	[LEC_Sexe] [char](1) NOT NULL,
	[LEC_DateDeNaissance] [nvarchar](50) NOT NULL,
	[LEC_Adresse] [nvarchar](250) NULL,
	[LEC_Ville] [nvarchar](50) NOT NULL,
	[LEC_CodePostal] [int] NOT NULL,
	[LEC_UserName] [nvarchar](50) NOT NULL,
	[LEC_Password] [nvarchar](50) NOT NULL,
	[LEC_Photo] [nvarchar](max) NULL,
	[BIB_ID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Livre]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livre](
	[LIV_Id] [int] IDENTITY(1,1) NOT NULL,
	[LIV_ISBN] [nvarchar](50) NOT NULL,
	[LIV_Titre] [nvarchar](50) NOT NULL,
	[LIV_Image] [nvarchar](max) NULL,
	[LIV_Auteurs] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[RES_Id] [int] IDENTITY(1,1) NOT NULL,
	[RES_DateReservation] [datetime] NOT NULL,
	[RES_Supprimee] [bit] NULL,
	[LEC_Id] [int] NOT NULL,
	[LIV_Id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tarif]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarif](
	[TAR_Id] [int] IDENTITY(1,1) NOT NULL,
	[TAR_AnneeApplication] [int] NOT NULL,
	[TAR_Retard] [decimal](25, 0) NOT NULL,
	[TAR_Emprunt] [decimal](25, 0) NOT NULL,
	[BIB_ID] [int] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Administrateur] ON 

INSERT [dbo].[Administrateur] ([ADM_Id], [ADM_UserName], [ADM_Password]) VALUES (1, N'toto', N'toto')
INSERT [dbo].[Administrateur] ([ADM_Id], [ADM_UserName], [ADM_Password]) VALUES (2, N'admin', N'admin')
INSERT [dbo].[Administrateur] ([ADM_Id], [ADM_UserName], [ADM_Password]) VALUES (4, N'a', N'a')
SET IDENTITY_INSERT [dbo].[Administrateur] OFF
SET IDENTITY_INSERT [dbo].[Bibliotheque] ON 

INSERT [dbo].[Bibliotheque] ([BIB_ID], [BIB_Code], [BIB_Libelle], [BIB_Adresse], [BIB_Ville], [BIB_CodePostal]) VALUES (2, N'BRU_01', N'Bruxelles Centre', N'Rue du perdu, n°404', N'Bruxelles', 1000)
INSERT [dbo].[Bibliotheque] ([BIB_ID], [BIB_Code], [BIB_Libelle], [BIB_Adresse], [BIB_Ville], [BIB_CodePostal]) VALUES (3, N'BRU_02', N'Bruxelles Sud', N'Rue du retrouvé, n° 1', N'Bruxelles', 1180)
INSERT [dbo].[Bibliotheque] ([BIB_ID], [BIB_Code], [BIB_Libelle], [BIB_Adresse], [BIB_Ville], [BIB_CodePostal]) VALUES (5, N'NAM_01', N'Namur Centre', N'Avenue Baltazar, n°666', N'Namur', 5000)
SET IDENTITY_INSERT [dbo].[Bibliotheque] OFF
SET IDENTITY_INSERT [dbo].[Emprunt] ON 

INSERT [dbo].[Emprunt] ([EMP_Id], [EMP_DateEmprunt], [EMP_DateRetour], [EMP_MontantPaye], [EXE_Id], [LEC_Id]) VALUES (1, CAST(N'2017-01-04T16:01:50.207' AS DateTime), CAST(N'2017-01-10T21:25:45.663' AS DateTime), CAST(2 AS Decimal(25, 0)), 6, 2)
INSERT [dbo].[Emprunt] ([EMP_Id], [EMP_DateEmprunt], [EMP_DateRetour], [EMP_MontantPaye], [EXE_Id], [LEC_Id]) VALUES (5, CAST(N'2017-01-04T16:36:18.310' AS DateTime), CAST(N'2017-01-11T05:31:53.540' AS DateTime), CAST(2 AS Decimal(25, 0)), 1, 1)
INSERT [dbo].[Emprunt] ([EMP_Id], [EMP_DateEmprunt], [EMP_DateRetour], [EMP_MontantPaye], [EXE_Id], [LEC_Id]) VALUES (7, CAST(N'2016-12-04T16:45:53.577' AS DateTime), NULL, NULL, 7, 4)
SET IDENTITY_INSERT [dbo].[Emprunt] OFF
SET IDENTITY_INSERT [dbo].[Exemplaire] ON 

INSERT [dbo].[Exemplaire] ([EXE_Id], [EXE_Code], [EXE_DateAchat], [EXE_Indisponible], [BIB_ID], [LIV_Id]) VALUES (1, N'AED_01', N'1/1/2000', 1, 2, 3)
INSERT [dbo].[Exemplaire] ([EXE_Id], [EXE_Code], [EXE_DateAchat], [EXE_Indisponible], [BIB_ID], [LIV_Id]) VALUES (2, N'AED_02', N'1/1/2000', 1, 2, 3)
INSERT [dbo].[Exemplaire] ([EXE_Id], [EXE_Code], [EXE_DateAchat], [EXE_Indisponible], [BIB_ID], [LIV_Id]) VALUES (3, N'AED_03', N'1/1/2000', 1, 2, 3)
SET IDENTITY_INSERT [dbo].[Exemplaire] OFF
SET IDENTITY_INSERT [dbo].[Lecteur] ON 

INSERT [dbo].[Lecteur] ([LEC_Id], [LEC_Nom], [LEC_Prenom], [LEC_Sexe], [LEC_DateDeNaissance], [LEC_Adresse], [LEC_Ville], [LEC_CodePostal], [LEC_UserName], [LEC_Password], [LEC_Photo], [BIB_ID]) VALUES (1, N'Encev', N'Simon', N'M', N'1985-01-01', N'Rue du bois, n°5', N'Bruxelles', 1000, N'simon', N'simon', N'https://lh3.googleusercontent.com/jYFA31IOd1r-mdQ8tcQRqUYqFatn6GUd7EyOG_VQ_v70DFjrSjNKnXf2FbbbmqSQFllK845E1J94MQ=w1920-h1080-rw-no', 2)
INSERT [dbo].[Lecteur] ([LEC_Id], [LEC_Nom], [LEC_Prenom], [LEC_Sexe], [LEC_DateDeNaissance], [LEC_Adresse], [LEC_Ville], [LEC_CodePostal], [LEC_UserName], [LEC_Password], [LEC_Photo], [BIB_ID]) VALUES (2, N'ID Bourhim', N'Farid', N'M', N'1983-01-12', N'Rue de l''aiguille, n°37', N'Bruxelles', 1070, N'farid', N'farid', N'https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/0b1/210/2b304db.jpg', 3)
INSERT [dbo].[Lecteur] ([LEC_Id], [LEC_Nom], [LEC_Prenom], [LEC_Sexe], [LEC_DateDeNaissance], [LEC_Adresse], [LEC_Ville], [LEC_CodePostal], [LEC_UserName], [LEC_Password], [LEC_Photo], [BIB_ID]) VALUES (3, N'Jonckers', N'Etienne', N'F', N'1979-11-30', N'Avenue de la chevre, n°1', N'Namur', 5000, N'etienne', N'etienne', N'https://thumbnailer.mixcloud.com/unsafe/600x600/profile/e/1/9/5/f507-9999-44be-ade4-d65f09a21264.jpg', 5)
SET IDENTITY_INSERT [dbo].[Lecteur] OFF
SET IDENTITY_INSERT [dbo].[Livre] ON 

INSERT [dbo].[Livre] ([LIV_Id], [LIV_ISBN], [LIV_Titre], [LIV_Image], [LIV_Auteurs]) VALUES (3, N'9782253093008', N'Ange et Demon', N'http://a.decitre.di-static.com/img/200x303/dan-brown-anges-et-demons/9782253093008FS.gif', N'Dan Brown')
INSERT [dbo].[Livre] ([LIV_Id], [LIV_ISBN], [LIV_Titre], [LIV_Image], [LIV_Auteurs]) VALUES (4, N'9782226193506', N'Le chemin invisible', N'http://ecx.images-amazon.com/images/I/41r-r6aQwUL._SX195_.jpg', N'Rafael Abalos')
INSERT [dbo].[Livre] ([LIV_Id], [LIV_ISBN], [LIV_Titre], [LIV_Image], [LIV_Auteurs]) VALUES (5, N'9782253126379', N'Toubib or not Toubib', N'http://t3.gstatic.com/images?q=tbn:ANd9GcRNoDoAyfdr-bRDAgG6dswb5KEeePPPr4gv088CqgP8vaT72qa9', N'Agnès Abécassis')
SET IDENTITY_INSERT [dbo].[Livre] OFF
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([RES_Id], [RES_DateReservation], [RES_Supprimee], [LEC_Id], [LIV_Id]) VALUES (11, CAST(N'2017-01-04T15:40:45.810' AS DateTime), 0, 3, 3)
INSERT [dbo].[Reservation] ([RES_Id], [RES_DateReservation], [RES_Supprimee], [LEC_Id], [LIV_Id]) VALUES (13, CAST(N'2017-01-04T15:43:13.530' AS DateTime), 1, 2, 3)
INSERT [dbo].[Reservation] ([RES_Id], [RES_DateReservation], [RES_Supprimee], [LEC_Id], [LIV_Id]) VALUES (14, CAST(N'2017-01-04T15:43:38.590' AS DateTime), 1, 1, 3)
SET IDENTITY_INSERT [dbo].[Reservation] OFF
SET IDENTITY_INSERT [dbo].[Tarif] ON 

INSERT [dbo].[Tarif] ([TAR_Id], [TAR_AnneeApplication], [TAR_Retard], [TAR_Emprunt], [BIB_ID]) VALUES (1, 2016, CAST(1 AS Decimal(25, 0)), CAST(3 AS Decimal(25, 0)), 2)
INSERT [dbo].[Tarif] ([TAR_Id], [TAR_AnneeApplication], [TAR_Retard], [TAR_Emprunt], [BIB_ID]) VALUES (2, 2016, CAST(1 AS Decimal(25, 0)), CAST(4 AS Decimal(25, 0)), 3)
INSERT [dbo].[Tarif] ([TAR_Id], [TAR_AnneeApplication], [TAR_Retard], [TAR_Emprunt], [BIB_ID]) VALUES (4, 2016, CAST(1 AS Decimal(25, 0)), CAST(2 AS Decimal(25, 0)), 5)
SET IDENTITY_INSERT [dbo].[Tarif] OFF
/****** Object:  Index [prk_constraint_Administrateuf]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Administrateur] ADD  CONSTRAINT [prk_constraint_Administrateuf] PRIMARY KEY NONCLUSTERED 
(
	[ADM_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Administ__995EDA7F9B7C56AE]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Administrateur] ADD  CONSTRAINT [UQ__Administ__995EDA7F9B7C56AE] UNIQUE NONCLUSTERED 
(
	[ADM_UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [prk_constraint_Bibliotheque]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Bibliotheque] ADD  CONSTRAINT [prk_constraint_Bibliotheque] PRIMARY KEY NONCLUSTERED 
(
	[BIB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Biblioth__4DC5946CFB54CC1F]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Bibliotheque] ADD  CONSTRAINT [UQ__Biblioth__4DC5946CFB54CC1F] UNIQUE NONCLUSTERED 
(
	[BIB_Libelle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Biblioth__E906647F21A89147]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Bibliotheque] ADD  CONSTRAINT [UQ__Biblioth__E906647F21A89147] UNIQUE NONCLUSTERED 
(
	[BIB_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [prk_constraint_Emprunt]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Emprunt] ADD  CONSTRAINT [prk_constraint_Emprunt] PRIMARY KEY NONCLUSTERED 
(
	[EMP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [prk_constraint_Exemplaire]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Exemplaire] ADD  CONSTRAINT [prk_constraint_Exemplaire] PRIMARY KEY NONCLUSTERED 
(
	[EXE_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Exemplai__96E9CA7F0FE715CE]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Exemplaire] ADD  CONSTRAINT [UQ__Exemplai__96E9CA7F0FE715CE] UNIQUE NONCLUSTERED 
(
	[EXE_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [prk_constraint_Lecteur]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Lecteur] ADD  CONSTRAINT [prk_constraint_Lecteur] PRIMARY KEY NONCLUSTERED 
(
	[LEC_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Lecteur__0E72E8B2C840C090]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Lecteur] ADD  CONSTRAINT [UQ__Lecteur__0E72E8B2C840C090] UNIQUE NONCLUSTERED 
(
	[LEC_Prenom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Lecteur__7150BA5616C255A8]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Lecteur] ADD  CONSTRAINT [UQ__Lecteur__7150BA5616C255A8] UNIQUE NONCLUSTERED 
(
	[LEC_UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Lecteur__9B08263751BBFD53]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Lecteur] ADD  CONSTRAINT [UQ__Lecteur__9B08263751BBFD53] UNIQUE NONCLUSTERED 
(
	[LEC_Nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [prk_constraint_Livre]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Livre] ADD  CONSTRAINT [prk_constraint_Livre] PRIMARY KEY NONCLUSTERED 
(
	[LIV_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Livre__CC8910BF1E44F6CD]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Livre] ADD  CONSTRAINT [UQ__Livre__CC8910BF1E44F6CD] UNIQUE NONCLUSTERED 
(
	[LIV_ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Livre__E5A60452D623BC08]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Livre] ADD  CONSTRAINT [UQ__Livre__E5A60452D623BC08] UNIQUE NONCLUSTERED 
(
	[LIV_Titre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [prk_constraint_Reservation]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [prk_constraint_Reservation] PRIMARY KEY NONCLUSTERED 
(
	[RES_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [prk_constraint_Tarif]    Script Date: 13-Jan-17 07:26:36 ******/
ALTER TABLE [dbo].[Tarif] ADD  CONSTRAINT [prk_constraint_Tarif] PRIMARY KEY NONCLUSTERED 
(
	[TAR_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emprunt]  WITH CHECK ADD  CONSTRAINT [FK_Emprunt_EXE_Id] FOREIGN KEY([EXE_Id])
REFERENCES [dbo].[Exemplaire] ([EXE_Id])
GO
ALTER TABLE [dbo].[Emprunt] CHECK CONSTRAINT [FK_Emprunt_EXE_Id]
GO
ALTER TABLE [dbo].[Emprunt]  WITH CHECK ADD  CONSTRAINT [FK_Emprunt_LEC_Id] FOREIGN KEY([LEC_Id])
REFERENCES [dbo].[Lecteur] ([LEC_Id])
GO
ALTER TABLE [dbo].[Emprunt] CHECK CONSTRAINT [FK_Emprunt_LEC_Id]
GO
ALTER TABLE [dbo].[Exemplaire]  WITH CHECK ADD  CONSTRAINT [FK_Exemplaire_BIB_ID] FOREIGN KEY([BIB_ID])
REFERENCES [dbo].[Bibliotheque] ([BIB_ID])
GO
ALTER TABLE [dbo].[Exemplaire] CHECK CONSTRAINT [FK_Exemplaire_BIB_ID]
GO
ALTER TABLE [dbo].[Exemplaire]  WITH CHECK ADD  CONSTRAINT [FK_Exemplaire_LIV_Id] FOREIGN KEY([LIV_Id])
REFERENCES [dbo].[Livre] ([LIV_Id])
GO
ALTER TABLE [dbo].[Exemplaire] CHECK CONSTRAINT [FK_Exemplaire_LIV_Id]
GO
ALTER TABLE [dbo].[Lecteur]  WITH CHECK ADD  CONSTRAINT [FK_Lecteur_BIB_ID] FOREIGN KEY([BIB_ID])
REFERENCES [dbo].[Bibliotheque] ([BIB_ID])
GO
ALTER TABLE [dbo].[Lecteur] CHECK CONSTRAINT [FK_Lecteur_BIB_ID]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_LEC_Id] FOREIGN KEY([LEC_Id])
REFERENCES [dbo].[Lecteur] ([LEC_Id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_LEC_Id]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_LIV_Id] FOREIGN KEY([LIV_Id])
REFERENCES [dbo].[Livre] ([LIV_Id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_LIV_Id]
GO
ALTER TABLE [dbo].[Tarif]  WITH CHECK ADD  CONSTRAINT [FK_Tarif_BIB_ID] FOREIGN KEY([BIB_ID])
REFERENCES [dbo].[Bibliotheque] ([BIB_ID])
GO
ALTER TABLE [dbo].[Tarif] CHECK CONSTRAINT [FK_Tarif_BIB_ID]
GO
ALTER TABLE [dbo].[Lecteur]  WITH CHECK ADD  CONSTRAINT [CK_LEC_Sexe] CHECK  (([LEC_Sexe]='M' OR [LEC_Sexe]='F'))
GO
ALTER TABLE [dbo].[Lecteur] CHECK CONSTRAINT [CK_LEC_Sexe]
GO
/****** Object:  StoredProcedure [adminBiblio].[ADM_Login]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<FUNCTION QUI VERIFIE L''EXISTANCE D''UN ADMINISTRATEUR ET SON PASSWORD POUR LUI PERMETTRE L''ACCESS AU GUI LECTEUR>
-- =============================================

CREATE PROCEDURE [adminBiblio].[ADM_Login]
	@UserName nvarchar(50),
	@Password nvarchar(50)
AS
BEGIN
	 SET NOCOUNT OFF
	 IF ( dbo.ADM_CheckLogin(@UserName,@Password )=1)
	 BEGIN
		SELECT  ADM_UserName FROM Administrateur WHERE ADM_UserName = @UserName AND ADM_Password = @Password
	 END
	 ELSE
	 BEGIN
		RAISERROR (26000,-1,-1, 'Login ou password incorrect')
	 END
	 
END









GO
/****** Object:  StoredProcedure [adminBiblio].[BIB_AllLibelle]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: SQLQuery20.sql|9|0|C:\Users\Farid\AppData\Local\Temp\~vsB21B.sql


-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <01/01/2017>
-- Description:	<Affichage des libelles des bibliotheque pour le login et le changement de boibliotheque>
-- =============================================
CREATE PROCEDURE [adminBiblio].[BIB_AllLibelle]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT        BIB_Libelle AS Libelle
	FROM            Bibliotheque
END








GO
/****** Object:  StoredProcedure [adminBiblio].[EMP_AllEmpruntsEnCours]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE LA LISTE DES EMPRUNTS PAR RAPPORTS A UN LECTEUR>
-- =============================================
CREATE PROCEDURE [adminBiblio].[EMP_AllEmpruntsEnCours]
	--Parametres

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT        Emprunt.EXE_Id, Lecteur.LEC_Nom, Lecteur.LEC_Prenom, Exemplaire.EXE_Code, Livre.LIV_Titre, Livre.LIV_ISBN, Bibliotheque.BIB_Libelle, Emprunt.EMP_DateEmprunt, Livre.LIV_Image, 
                         Tarif.TAR_Emprunt + dbo.EMP_CalculMontantRetard(Bibliotheque.BIB_ID, YEAR(Emprunt.EMP_DateEmprunt), dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt)) AS [Montant total du €], 
                         dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt) AS Retard, Emprunt.LEC_Id
FROM            Emprunt INNER JOIN
                         Exemplaire ON Emprunt.EXE_Id = Exemplaire.EXE_Id INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID INNER JOIN
                         Tarif ON Bibliotheque.BIB_ID = Tarif.BIB_ID INNER JOIN
                         Lecteur ON Emprunt.LEC_Id = Lecteur.LEC_Id
WHERE        (Emprunt.EMP_DateRetour IS NULL)
GROUP BY Exemplaire.EXE_Code, Livre.LIV_Titre, Bibliotheque.BIB_Libelle, Emprunt.EMP_DateEmprunt, Livre.LIV_Image, Tarif.TAR_Emprunt, Tarif.TAR_AnneeApplication, Lecteur.LEC_Nom, Lecteur.LEC_Prenom, 
                         Emprunt.EXE_Id, Livre.LIV_ISBN, Bibliotheque.BIB_ID, Emprunt.LEC_Id
HAVING        (Tarif.TAR_AnneeApplication = YEAR(Emprunt.EMP_DateEmprunt)) AND (dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt) = 0)
END











GO
/****** Object:  StoredProcedure [adminBiblio].[EMP_ListeRetardatairesAllBib]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE LA LISTE DES retards PAR RAPPORTS A UN LECTEUR>
-- =============================================
CREATE PROCEDURE [adminBiblio].[EMP_ListeRetardatairesAllBib]
	--Parametres

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT        Emprunt.EXE_Id, Lecteur.LEC_Nom, Lecteur.LEC_Prenom, Exemplaire.EXE_Code, Livre.LIV_Titre, Livre.LIV_ISBN, Bibliotheque.BIB_Libelle, Emprunt.EMP_DateEmprunt, Livre.LIV_Image,
				Tarif.TAR_Emprunt + dbo.EMP_CalculMontantRetard(Bibliotheque.BIB_ID, YEAR(Emprunt.EMP_DateEmprunt), dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt)) AS [Montant total du €], 
                         dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt) AS Retard, Emprunt.LEC_Id
FROM            Emprunt INNER JOIN
                         Exemplaire ON Emprunt.EXE_Id = Exemplaire.EXE_Id INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID INNER JOIN
                         Tarif ON Bibliotheque.BIB_ID = Tarif.BIB_ID INNER JOIN
                         Lecteur ON Emprunt.LEC_Id = Lecteur.LEC_Id
WHERE        (Emprunt.EMP_DateRetour IS NULL)
GROUP BY Exemplaire.EXE_Code, Livre.LIV_Titre, Bibliotheque.BIB_Libelle, Emprunt.EMP_DateEmprunt, Livre.LIV_Image, Tarif.TAR_Emprunt, Tarif.TAR_AnneeApplication, Lecteur.LEC_Nom, Lecteur.LEC_Prenom, 
                         Emprunt.EXE_Id, Livre.LIV_ISBN, Bibliotheque.BIB_ID, Emprunt.LEC_Id
HAVING        (Tarif.TAR_AnneeApplication = YEAR(Emprunt.EMP_DateEmprunt)) AND (dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt) > 0)
END











GO
/****** Object:  StoredProcedure [adminBiblio].[EMP_NbEmpruntsByLEC_ID]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI affiche LA LISTE DES Retardataires et le montant du>
-- =============================================
CREATE PROCEDURE [adminBiblio].[EMP_NbEmpruntsByLEC_ID]
	@Lec_Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT        COUNT(Lecteur.LEC_Id) AS Expr1
FROM            Emprunt INNER JOIN
                         Lecteur ON Emprunt.LEC_Id = Lecteur.LEC_Id
WHERE        (Emprunt.EMP_DateRetour IS NULL) AND (dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt) = 0) AND (Lecteur.LEC_Id = @Lec_Id)
END








GO
/****** Object:  StoredProcedure [adminBiblio].[EMP_NbRetardByLEC_ID]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI affiche LA LISTE DES Retardataires et le montant du>
-- =============================================
CREATE PROCEDURE [adminBiblio].[EMP_NbRetardByLEC_ID]
	@Lec_Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT        COUNT(Lecteur.LEC_Id) AS Expr1
FROM            Emprunt INNER JOIN
                         Lecteur ON Emprunt.LEC_Id = Lecteur.LEC_Id
WHERE        (Emprunt.EMP_DateRetour IS NULL) AND (dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt) > 0) AND (Lecteur.LEC_Id = @Lec_Id)
END








GO
/****** Object:  StoredProcedure [adminBiblio].[EXE_AllExemplaireAllBib]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [adminBiblio].[EXE_AllExemplaireAllBib]
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT        Exemplaire.EXE_Id AS ID, Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Livre.LIV_ISBN AS ISBN, Exemplaire.EXE_DateAchat AS [Date d'achat], Livre.LIV_Auteurs AS Auteurs, 
                         Bibliotheque.BIB_Libelle AS Bibliotheque, Livre.LIV_Image AS Image, Livre.LIV_Id, Bibliotheque.BIB_ID
FROM            Exemplaire INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
END









GO
/****** Object:  StoredProcedure [adminBiblio].[EXE_AllExemplaireByBIB_Id]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [adminBiblio].[EXE_AllExemplaireByBIB_Id]
	@Bib_Id int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT        Exemplaire.EXE_Id AS ID, Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Livre.LIV_ISBN AS ISBN, Exemplaire.EXE_DateAchat AS [Date d'achat], Livre.LIV_Auteurs AS Auteurs, 
                         Bibliotheque.BIB_Code AS Exemplaire, Livre.LIV_Image AS Image
FROM            Exemplaire INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
WHERE        (Exemplaire.BIB_ID = @Bib_Id)
END








GO
/****** Object:  StoredProcedure [adminBiblio].[EXE_AllExemplaireByBIB_Libelle]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [adminBiblio].[EXE_AllExemplaireByBIB_Libelle]
	@BibLibelle nvarchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @BibId int

	SELECT @BibId=BIB_ID FROM Bibliotheque WHERE (BIB_Libelle like ('%' + @BibLibelle + '%'))
    -- Insert statements for procedure here
	SELECT        Exemplaire.EXE_Id AS ID, Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Livre.LIV_ISBN AS ISBN, Exemplaire.EXE_DateAchat AS [Date d'achat], Livre.LIV_Auteurs AS Auteurs, 
                         Bibliotheque.BIB_Code AS [Code Bibliotheque], Livre.LIV_Image AS Image
FROM            Exemplaire INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
WHERE        (Bibliotheque.BIB_ID = @BibId)
END








GO
/****** Object:  StoredProcedure [adminBiblio].[EXE_AllExemplaireByExeCode]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [adminBiblio].[EXE_AllExemplaireByExeCode]
	@ExeCode nvarchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
SELECT        Exemplaire.EXE_Id AS ID, Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Livre.LIV_ISBN AS ISBN, Exemplaire.EXE_DateAchat AS [Date d'achat], Livre.LIV_Auteurs AS Auteurs, 
                         Bibliotheque.BIB_Code AS Exemplaire, Livre.LIV_Image AS Image
FROM            Exemplaire INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
WHERE        (Exemplaire.EXE_Code like '%' + @ExeCode + '%')
END









GO
/****** Object:  StoredProcedure [adminBiblio].[EXE_AllExemplaireByTitre]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [adminBiblio].[EXE_AllExemplaireByTitre]
	
	@Titre nvarchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
	SELECT        Exemplaire.EXE_Id AS ID, Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Livre.LIV_ISBN AS ISBN, Exemplaire.EXE_DateAchat AS [Date d'achat], Livre.LIV_Auteurs AS Auteurs, 
                         Bibliotheque.BIB_Code AS Exemplaire, Livre.LIV_Image AS Image
FROM            Exemplaire INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
WHERE        (Livre.LIV_Titre LIKE '%' + @Titre + '%')
END









GO
/****** Object:  StoredProcedure [adminBiblio].[EXE_CreerExemplaire]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
 CREATE PROCEDURE [adminBiblio].[EXE_CreerExemplaire]
	@Code nvarchar (50),
	@DateAchat Date,
	@Bib_Libelle nvarchar(50),
	@Liv_Titre  nvarchar(50)
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;
	DECLARE @Bib_Id int, @Liv_Id int

	SELECT  @Bib_Id = Bib_ID FROM  Bibliotheque WHERE (BIB_Libelle = @Bib_Libelle )
	SELECT  @Liv_Id = LIV_Id FROM  Livre WHERE  (LIV_Titre = @Liv_Titre)

    INSERT INTO Exemplaire (EXE_Code, EXE_DateAchat, EXE_Indisponible, BIB_ID, LIV_Id)	VALUES (@Code, @DateAchat, 0, @Bib_Id, @Liv_Id)
END










GO
/****** Object:  StoredProcedure [adminBiblio].[EXE_RetournerExempplaire]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [adminBiblio].[EXE_RetournerExempplaire]
	
	@ExemplaireId int,
	@montant decimal
	
AS
BEGIN
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- MISE A JOUR DE LA TABLE EMPRUNT EN METTANT A JOUR LA DATE RETOUR AVEC LA DATE D'AOUJOURD'HUI
	UPDATE Emprunt
		SET	EMP_DateRetour = GETDATE(), EMP_MontantPaye = @montant
			WHERE Emprunt.EXE_Id = @ExemplaireId AND EMP_DateRetour IS NULL
	-- MISE A JOUR DE LA TABLE EMPRUNT EN METTANT A JOUR LE CHAMPS INDISPONIBLE A FAUX OU '0'
	UPDATE Exemplaire
		SET EXE_Indisponible = 0
			WHERE Exemplaire.EXE_Id = @ExemplaireId
END










GO
/****** Object:  StoredProcedure [adminBiblio].[LEC_AllLecteurs]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Farid ID BOURHIM, Simon ENCEV>
-- Create date: <01/01/2017>
-- Description:	<Liste des lecteurs pour l'administrateur>
-- =============================================
CREATE PROCEDURE [adminBiblio].[LEC_AllLecteurs]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT * from Lecteur 
END







GO
/****** Object:  StoredProcedure [adminBiblio].[LIV_AjoutLivre]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <04/01/2017>
-- Description:	<procedure d'intertion de livre>
-- =============================================
 CREATE PROCEDURE [adminBiblio].[LIV_AjoutLivre]
	@ISBN nvarchar (50),
	@titre nvarchar (50),
	@image nvarchar (max),
	@auteur nvarchar(max)	
	
AS
	BEGIN
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT OFF;
		

		IF exists (SELECT LIV_ISBN FROM Livre WHERE LIV_ISBN = @ISBN)
		BEGIN
			RAISERROR ('Ce livre existe déjà dans la DB',15,0)
		END
		ELSE
		BEGIN
			INSERT INTO Livre(LIV_ISBN, LIV_Titre, LIV_Image, LIV_Auteurs)	VALUES (@ISBN, @titre, @image, @auteur)
		END
	END





GO
/****** Object:  StoredProcedure [adminBiblio].[LIV_AllLivres]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <01/01/2017>
-- Description:	<Liste des livres pour l'administrateur>
-- =============================================
CREATE PROCEDURE [adminBiblio].[LIV_AllLivres]	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT        Livre.LIV_Id AS "ID Livre", Livre.LIV_ISBN AS ISBN, Livre.LIV_Titre AS Titre, Livre.LIV_Auteurs AS Auteurs, LIV_Image
FROM            Livre
END







GO
/****** Object:  StoredProcedure [adminBiblio].[LIV_AllLivresTitres]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <01/01/2017>
-- Description:	<Liste des livres pour l'administrateur>
-- =============================================
CREATE PROCEDURE [adminBiblio].[LIV_AllLivresTitres]	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
SELECT        Livre.LIV_Titre AS Titre
FROM            Livre
END








GO
/****** Object:  StoredProcedure [adminBiblio].[LIV_DeleteLivre]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <04/01/2017>
-- Description:	<procedure d'intertion de livre>
-- =============================================
 CREATE PROCEDURE [adminBiblio].[LIV_DeleteLivre]
	@ISBN nvarchar (50)	
	
AS
	BEGIN
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;
		
		BEGIN
			DELETE FROM   Livre
			WHERE LIV_ISBN = @ISBN
		END
	END






GO
/****** Object:  StoredProcedure [adminBiblio].[LIV_LivreByISBN]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE UN LIVRE PAR SON ISBN>
-- =============================================
CREATE PROCEDURE [adminBiblio].[LIV_LivreByISBN] 
	-- Parametres
	@ISBN nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT * FROM Livre WHERE LIV_ISBN like ( '%' + @ISBN + '%')
END









GO
/****** Object:  StoredProcedure [adminBiblio].[LIV_LivreByTitle]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE UN LIVRE A PARTIR DE SON Titre>
-- =============================================
CREATE PROCEDURE [adminBiblio].[LIV_LivreByTitle]
	-- Parametres
	@Liv_Title nvarchar(50)
AS
BEGIN
   
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT        LIV_Id AS ID, LIV_ISBN AS ISBN, LIV_Titre AS Titre, LIV_Image AS "Image", LIV_Auteurs AS Auteurs
	FROM            Livre
	WHERE        (LIV_Titre LIKE '%' + @Liv_Title + '%')
END









GO
/****** Object:  StoredProcedure [adminBiblio].[LIV_UpdateLivre]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <04/01/2017>
-- Description:	<procedure d'intertion de livre>
-- =============================================
 CREATE PROCEDURE [adminBiblio].[LIV_UpdateLivre]
	@ISBN nvarchar (50),
	@titre nvarchar (50),
	@image nvarchar (max),
	@auteur nvarchar(max)	
	
AS
	BEGIN
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT OFF;
		
		BEGIN
			UPDATE  Livre 
				SET LIV_Titre = @titre,
					LIV_Image = @image,
					LIV_Auteurs = @auteur 
			WHERE LIV_ISBN = @ISBN
		END
	END






GO
/****** Object:  StoredProcedure [adminBiblio].[RES_ListeReservationsEnCours]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [adminBiblio].[RES_ListeReservationsEnCours]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT        Reservation.RES_Id AS "ID Réservation", Livre.LIV_Titre AS TITRE, Reservation.RES_DateReservation AS "Date de réservation", Lecteur.LEC_Nom AS Nom, Lecteur.LEC_Prenom AS Prénom
FROM            Reservation INNER JOIN
                         Livre ON Reservation.LIV_Id = Livre.LIV_Id INNER JOIN
                         Lecteur ON Reservation.LEC_Id = Lecteur.LEC_Id
END










GO
/****** Object:  StoredProcedure [lecteur].[BIB_AllLibelle]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <01/01/2017>
-- Description:	<Affichage des libelles des bibliotheque pour le login et le changement de boibliotheque>
-- =============================================
CREATE PROCEDURE [lecteur].[BIB_AllLibelle]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT        BIB_ID, BIB_Libelle
	FROM            Bibliotheque
END




GO
/****** Object:  StoredProcedure [lecteur].[EMP_AllEmpruntsByLEC_Id]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE LA LISTE DES EMPRUNTS PAR RAPPORTS A UN LECTEUR>
-- =============================================
CREATE PROCEDURE [lecteur].[EMP_AllEmpruntsByLEC_Id]
	--Parametres
	@Lec_Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT        Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Bibliotheque.BIB_Libelle AS Bibliothèque, Emprunt.EMP_DateEmprunt AS "Date d'emprunt"
FROM            Emprunt INNER JOIN
                         Exemplaire ON Emprunt.EXE_Id = Exemplaire.EXE_Id INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
WHERE        (Emprunt.LEC_Id = @Lec_Id) AND (Emprunt.EMP_DateRetour IS NULL)
END









GO
/****** Object:  StoredProcedure [lecteur].[EMP_AllEmpruntsEnCoursByLEC_Id]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE LA LISTE DES EMPRUNTS PAR RAPPORTS A UN LECTEUR>
-- =============================================
CREATE PROCEDURE [lecteur].[EMP_AllEmpruntsEnCoursByLEC_Id]
	--Parametres
	@Lec_Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT        Exemplaire.EXE_Code, Livre.LIV_Titre, Bibliotheque.BIB_Libelle, Emprunt.EMP_DateEmprunt, Livre.LIV_Image, Tarif.TAR_Emprunt, dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt) AS Retard
FROM            Emprunt INNER JOIN
                         Exemplaire ON Emprunt.EXE_Id = Exemplaire.EXE_Id INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID INNER JOIN
                         Tarif ON Bibliotheque.BIB_ID = Tarif.BIB_ID
WHERE        (Emprunt.EMP_DateRetour IS NULL) AND (Emprunt.LEC_Id = @Lec_Id)
GROUP BY Exemplaire.EXE_Code, Livre.LIV_Titre, Bibliotheque.BIB_Libelle, Emprunt.EMP_DateEmprunt, Livre.LIV_Image, Tarif.TAR_Emprunt, Tarif.TAR_AnneeApplication
HAVING        (Tarif.TAR_AnneeApplication = YEAR(Emprunt.EMP_DateEmprunt)) AND (dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt) = 0)
END












GO
/****** Object:  StoredProcedure [lecteur].[EMP_AllEmpruntsRenduByLEC_Id]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE LA LISTE DES EMPRUNTS PAR RAPPORTS A UN LECTEUR>
-- =============================================
CREATE PROCEDURE [lecteur].[EMP_AllEmpruntsRenduByLEC_Id]
	--Parametres
	@Lec_Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT        Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Bibliotheque.BIB_Libelle AS Bibliothèque, Emprunt.EMP_DateEmprunt AS [Date d'emprunt], Emprunt.EMP_DateRetour, 
                         Emprunt.EMP_MontantPaye
FROM            Emprunt INNER JOIN
                         Exemplaire ON Emprunt.EXE_Id = Exemplaire.EXE_Id INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
WHERE        (Emprunt.LEC_Id = @Lec_Id) AND (Emprunt.EMP_DateRetour is not NULL)
END











GO
/****** Object:  StoredProcedure [lecteur].[EMP_RetardsAllBibByLec]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI affiche LA LISTE DES Retardares du lecteur et le montant du>
-- =============================================
CREATE PROCEDURE [lecteur].[EMP_RetardsAllBibByLec]
	@Lec_id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT        Emprunt.EXE_Id AS [ID Exemplaire], Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Livre.LIV_ISBN AS ISBN, 
                         Bibliotheque.BIB_Libelle AS Bibliotheque, Emprunt.EMP_DateEmprunt AS [Date d'emprunt], dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt) AS [Jours de retard], 
                         Tarif.TAR_Emprunt + dbo.EMP_CalculMontantRetard(Bibliotheque.BIB_ID, YEAR(Emprunt.EMP_DateEmprunt), dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt)) AS [Montant total du €], 
                         Livre.LIV_Image
FROM            Tarif INNER JOIN
                         Bibliotheque ON Tarif.BIB_ID = Bibliotheque.BIB_ID INNER JOIN
                         Exemplaire ON Bibliotheque.BIB_ID = Exemplaire.BIB_ID INNER JOIN
                         Lecteur INNER JOIN
                         Emprunt ON Lecteur.LEC_Id = Emprunt.LEC_Id ON Exemplaire.EXE_Id = Emprunt.EXE_Id AND Tarif.TAR_AnneeApplication = YEAR(Emprunt.EMP_DateEmprunt) INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id
WHERE        (Emprunt.EMP_DateRetour IS NULL) AND (dbo.EMP_CalculJoursRetard(Emprunt.EMP_DateEmprunt) > 0) AND (Lecteur.LEC_Id = @Lec_id)

END










GO
/****** Object:  StoredProcedure [lecteur].[EXE_AllExemplairesByBibId]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [lecteur].[EXE_AllExemplairesByBibId]
	@Bib_Id int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT        Exemplaire.EXE_Id AS [ID Exemplaire], Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Livre.LIV_ISBN AS ISBN, Livre.LIV_Auteurs AS Auteurs, Bibliotheque.BIB_Libelle AS Bibliotheque, 
                         Livre.LIV_Image
FROM            Exemplaire INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
WHERE        (Exemplaire.BIB_ID = @Bib_Id)
END











GO
/****** Object:  StoredProcedure [lecteur].[EXE_AllExemplairesDispoByBibByISBN]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [lecteur].[EXE_AllExemplairesDispoByBibByISBN]
	@Bib_Id int,
	@ISBN nvarchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT        Exemplaire.EXE_Id AS [ID Exemplaire], Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Livre.LIV_ISBN AS ISBN, Livre.LIV_Auteurs AS Auteurs, Bibliotheque.BIB_Libelle AS Bibliotheque
FROM            Exemplaire INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
WHERE        (Exemplaire.BIB_ID = @Bib_Id) AND (Livre.LIV_ISBN LIKE '%'+ @ISBN + '%')
END












GO
/****** Object:  StoredProcedure [lecteur].[EXE_AllExemplairesDispoByBibByTitle]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [lecteur].[EXE_AllExemplairesDispoByBibByTitle]
	@Bib_Id int,
	@Titre nvarchar (50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT        Exemplaire.EXE_Id, Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Livre.LIV_ISBN AS ISBN, Livre.LIV_Auteurs AS Auteurs, Bibliotheque.BIB_Libelle AS Bibliothèque
FROM            Exemplaire INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
WHERE        (Exemplaire.BIB_ID = @Bib_Id) AND (Livre.LIV_Titre LIKE '%'+ @Titre + '%')
END











GO
/****** Object:  StoredProcedure [lecteur].[EXE_AllExemplairesDispoByBibId]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [lecteur].[EXE_AllExemplairesDispoByBibId]
	@Bib_Id int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT        Exemplaire.EXE_Id AS "ID Exemplaire", Exemplaire.EXE_Code AS Exemplaire, Livre.LIV_Titre AS Titre, Livre.LIV_ISBN AS ISBN, Livre.LIV_Auteurs AS Auteurs, Bibliotheque.BIB_Libelle AS Bibliotheque
	FROM            Exemplaire INNER JOIN
                         Livre ON Exemplaire.LIV_Id = Livre.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
	WHERE        (Exemplaire.EXE_Indisponible = 0) AND (Exemplaire.BIB_ID = @Bib_Id)
END










GO
/****** Object:  StoredProcedure [lecteur].[EXE_EmprunterExemplaire]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Farid ID BOURHIM, Simon ENCEV>
-- Create date: <28/12/2016,>
-- Description:	<PROCEDURE POUR EMPRUNTER UN EXEMPLAIRE>
-- =============================================
CREATE PROCEDURE [lecteur].[EXE_EmprunterExemplaire] 
	-- Parametres
	@Exe_Id int, 
	@Lec_Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @DisponibliteExemplaire bit
	 
	 SELECT @DisponibliteExemplaire =  EXE_Indisponible FROM Exemplaire WHERE EXE_Id = @Exe_Id
	 
		
		IF(@DisponibliteExemplaire = 1)
			BEGIN
				RAISERROR (20000,1,1, 'L"exemplaire que vous essayez d"emprunter est actuellement indisponible')
			END
		ELSE
			BEGIN
				INSERT INTO Emprunt (EMP_DateEmprunt, EXE_Id, LEC_Id) VALUES (GETDATE(), @Exe_Id, @Lec_Id)	
				

				/*IF exists(
				--recherche des reservations par id lecteur et id livre et les supprime si elles existent
				SELECT	Reservation.RES_Id
				FROM	Lecteur INNER JOIN
                         Reservation ON Lecteur.LEC_Id = Reservation.LEC_Id INNER JOIN
                         Livre ON Reservation.LIV_Id = Livre.LIV_Id
				WHERE	(Lecteur.LEC_Id = @Lec_Id) AND (Livre.LIV_Id = (SELECT	Livre.LIV_Id
																		FROM	Livre INNER JOIN
																				Exemplaire ON Livre.LIV_Id = Exemplaire.LIV_Id
																		WHERE	(Exemplaire.EXE_Id = @Exe_Id)
																		)
														)
						)
				BEGIN*/
					UPDATE Reservation set RES_Supprimee = 1 where RES_Id in (	SELECT	Reservation.RES_Id
																				FROM	Lecteur INNER JOIN
																						 Reservation ON Lecteur.LEC_Id = Reservation.LEC_Id INNER JOIN
																						 Livre ON Reservation.LIV_Id = Livre.LIV_Id
																				WHERE	(Lecteur.LEC_Id = @Lec_Id) AND (Livre.LIV_Id = (SELECT	Livre.LIV_Id
																																		FROM	Livre INNER JOIN
																																				Exemplaire ON Livre.LIV_Id = Exemplaire.LIV_Id
																																		WHERE	(Exemplaire.EXE_Id = @Exe_Id)
																																		)
																														)
																			)
				--END

				UPDATE Exemplaire set EXE_Indisponible = 1 where EXE_Id = @Exe_Id

			END

END









GO
/****** Object:  StoredProcedure [lecteur].[LEC_GetUserData]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <25/12/2016>
-- Description:	<Procedures pour afficher les details du lecteur connecté pour un eventuel traiement >
-- =============================================
CREATE PROCEDURE [lecteur].[LEC_GetUserData]
	-- Add the parameters for the stored procedure here
	@UserId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT        LEC_Nom, LEC_Prenom, LEC_Sexe, LEC_Adresse, LEC_Ville, LEC_CodePostal, LEC_DateDeNaissance, LEC_UserName, LEC_Password, LEC_Photo
FROM            Lecteur
WHERE        (LEC_Id = @UserId)
END






GO
/****** Object:  StoredProcedure [lecteur].[LEC_Login]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<FUNCTION QUI VERIFIE L''EXISTANCE D''UN ADMINISTRATEUR ET SON PASSWORD POUR LUI PERMETTRE L''ACCESS AU GUI LECTEUR>
-- =============================================

CREATE PROCEDURE [lecteur].[LEC_Login]
	@UserName nvarchar(50),
	@Password nvarchar(50)
AS
BEGIN
	 
	 IF ( dbo.LEC_CheckLogin(@UserName,@Password )=1)
	 BEGIN
		SELECT  LEC_Id, LEC_UserName FROM Lecteur WHERE LEC_UserName = @UserName AND LEC_Password = @Password
	 END
	 ELSE
	 BEGIN
		RAISERROR (25000,-1,-1, 'Login ou password incorrect')

	 END
	 
END










GO
/****** Object:  StoredProcedure [lecteur].[LEC_UpdateUserData]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <25/12/2016>
-- Description:	<Procedures pour afficher les details du lecteur connecté pour un eventuel traiement >
-- =============================================
CREATE PROCEDURE [lecteur].[LEC_UpdateUserData]
	-- Add the parameters for the stored procedure here
	@UserId int,
	@LEC_Nom nvarchar(50), 
	@LEC_Prenom nvarchar(50), 
	@LEC_Sexe char, 
	@LEC_Adresse nvarchar(250), 
	@LEC_Ville nvarchar(50), 
	@LEC_CodePostal int, 
	@LEC_DateDeNaissance date, 
	@LEC_UserName nvarchar(50), 
	@LEC_Password nvarchar(50), 
	@LEC_Photo nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Lecteur
		SET LEC_Nom = @LEC_Nom, 
			LEC_Prenom = @LEC_Prenom, 
			LEC_Sexe = @LEC_Sexe, 
			LEC_Adresse = @LEC_Adresse, 
			LEC_Ville = @LEC_Ville, 
			LEC_CodePostal = @LEC_CodePostal, 
			LEC_DateDeNaissance = @LEC_DateDeNaissance, 
			LEC_UserName = @LEC_UserName, 
			LEC_Password = @LEC_Password, 
			LEC_Photo = @LEC_Photo
		WHERE        (LEC_Id = @UserId)
END







GO
/****** Object:  StoredProcedure [lecteur].[LIV_LivreByBib_id]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE UN LIVRE PAR SON ISBN>
-- =============================================
CREATE PROCEDURE [lecteur].[LIV_LivreByBib_id] 
	-- Parametres
	@BibId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT        Livre.LIV_Id AS ID, Livre.LIV_ISBN AS ISBN, Livre.LIV_Titre AS Titre, Livre.LIV_Image AS Image, Livre.LIV_Auteurs AS Auteurs
FROM            Livre INNER JOIN
                         Exemplaire ON Livre.LIV_Id = Exemplaire.LIV_Id
GROUP BY Livre.LIV_ISBN, Livre.LIV_Titre, Livre.LIV_Image, Livre.LIV_Auteurs, Exemplaire.BIB_ID, Livre.LIV_Id
HAVING        (Exemplaire.BIB_ID = @BibId)
END











GO
/****** Object:  StoredProcedure [lecteur].[LIV_LivreByBib_idByISBN]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE UN LIVRE PAR SON ISBN>
-- =============================================
CREATE PROCEDURE [lecteur].[LIV_LivreByBib_idByISBN] 
	-- Parametres
	@BibId int,
	@ISBN nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT        Livre.LIV_Id AS ID, Livre.LIV_ISBN AS ISBN, Livre.LIV_Titre AS Titre, Livre.LIV_Image AS Image, Livre.LIV_Auteurs AS Auteurs
FROM            Livre INNER JOIN
                         Exemplaire ON Livre.LIV_Id = Exemplaire.LIV_Id
WHERE			(Livre.LIV_ISBN LIKE '%' + @ISBN + '%') AND (Exemplaire.BIB_ID = @BibId)
GROUP BY Livre.LIV_ISBN, Livre.LIV_Titre, Livre.LIV_Image, Livre.LIV_Auteurs, Exemplaire.BIB_ID, Livre.LIV_Id
END











GO
/****** Object:  StoredProcedure [lecteur].[LIV_LivreByBib_idByTitre]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE UN LIVRE PAR SON ISBN>
-- =============================================
CREATE PROCEDURE [lecteur].[LIV_LivreByBib_idByTitre] 
	-- Parametres
	@BibId int,
	@titre nvarchar
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT        Livre.LIV_Id AS ID, Livre.LIV_ISBN AS ISBN, Livre.LIV_Titre AS Titre, Livre.LIV_Image AS Image, Livre.LIV_Auteurs AS Auteurs
FROM            Livre INNER JOIN
                         Exemplaire ON Livre.LIV_Id = Exemplaire.LIV_Id
WHERE	(Exemplaire.BIB_ID = @BibId) AND (Livre.LIV_Titre LIKE '%' + @titre + '%')
GROUP BY Livre.LIV_ISBN, Livre.LIV_Titre, Livre.LIV_Image, Livre.LIV_Auteurs, Exemplaire.BIB_ID, Livre.LIV_Id
END











GO
/****** Object:  StoredProcedure [lecteur].[LIV_LivreByISBN]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE UN LIVRE PAR SON ISBN>
-- =============================================
CREATE PROCEDURE [lecteur].[LIV_LivreByISBN] 
	-- Parametres
	@ISBN nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT        LIV_Id AS ID, LIV_ISBN AS ISBN, LIV_Titre AS Titre, LIV_Image AS "Image", LIV_Auteurs AS Auteurs
FROM            Livre
WHERE        (LIV_ISBN = @ISBN)
END









GO
/****** Object:  StoredProcedure [lecteur].[LIV_LivreByTitle]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Simon ENCEV, Farid ID BOURHIM>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE QUI RETOURNE UN LIVRE A PARTIR DE SON Titre>
-- =============================================
CREATE PROCEDURE [lecteur].[LIV_LivreByTitle]
	-- Parametres
	@Liv_Title nvarchar(50)
AS
BEGIN
   
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT        LIV_Id AS ID, LIV_ISBN AS ISBN, LIV_Titre AS Titre, LIV_Image AS "Image", LIV_Auteurs AS Auteurs
FROM            Livre
WHERE        (LIV_Titre LIKE '%' + @Liv_Title + '%')
END









GO
/****** Object:  StoredProcedure [lecteur].[RES_ListeReservationsByLEC_Id]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Farid ID BOURHIM, Simon ENCEV>
-- Create date: <01/01/2017>
-- Description:	<Liste des reservation en cours>
-- =============================================
CREATE PROCEDURE [lecteur].[RES_ListeReservationsByLEC_Id]
	@Lec_Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT        Reservation.RES_Id AS [ID Réservation], Livre.LIV_Titre AS Titre, Livre.LIV_ISBN AS ISBN, Reservation.RES_DateReservation AS [Date de réservation], Livre.LIV_Auteurs, Livre.LIV_Image
FROM            Reservation INNER JOIN
                         Livre ON Reservation.LIV_Id = Livre.LIV_Id
WHERE        (Reservation.RES_Supprimee = 0) AND (Reservation.LEC_Id = @Lec_Id)
END








GO
/****** Object:  StoredProcedure [lecteur].[RES_ListeReservationsDisponibleByLEC_IdAllBib]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <29/12/2016>
-- Description:	<Procedure qui affiche liste des livres reservés par lecteur et donne leurs disponibilité. >
-- =============================================
CREATE PROCEDURE [lecteur].[RES_ListeReservationsDisponibleByLEC_IdAllBib]
	@IdLecteur int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT	Reservation.RES_Id AS [ID Réservation], Livre.LIV_Titre AS Titre, Reservation.RES_DateReservation AS [Date de réservation], COUNT(Exemplaire.EXE_Indisponible) AS NombreExemplaireDisponible, 
			Bibliotheque.BIB_Libelle, Exemplaire.EXE_Id, Reservation.LEC_Id
	FROM	Reservation INNER JOIN
			Livre ON Reservation.LIV_Id = Livre.LIV_Id INNER JOIN
			Exemplaire ON Livre.LIV_Id = Exemplaire.LIV_Id INNER JOIN
			Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
	GROUP BY Reservation.RES_Id, Livre.LIV_Titre, Reservation.RES_DateReservation, Bibliotheque.BIB_Libelle, Exemplaire.EXE_Id, Reservation.LEC_Id
	HAVING	(COUNT(Exemplaire.EXE_Indisponible) = 0) AND (Reservation.LEC_Id = @IdLecteur)

END







GO
/****** Object:  StoredProcedure [lecteur].[RES_ListeReservationsDisponibleByLEC_IdByBib]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <29/12/2016>
-- Description:	<Procedure qui affiche liste des livres reservés par lecteur et donne leurs disponibilité. >
-- =============================================
CREATE PROCEDURE [lecteur].[RES_ListeReservationsDisponibleByLEC_IdByBib]
	@IdLecteur int,
	@IdBibliotheque int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT        Livre.LIV_Titre AS Titre, Exemplaire.EXE_Code, Bibliotheque.BIB_Libelle, Exemplaire.EXE_Id, Reservation.LEC_Id, Livre.LIV_Image
FROM            Reservation INNER JOIN
                         Livre ON Reservation.LIV_Id = Livre.LIV_Id INNER JOIN
                         Exemplaire ON Livre.LIV_Id = Exemplaire.LIV_Id INNER JOIN
                         Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
WHERE        (Exemplaire.EXE_Indisponible = 0) AND (Reservation.LEC_Id = @IdLecteur) AND (Bibliotheque.BIB_ID = @IdBibliotheque) AND (RES_Supprimee = 0)
GROUP BY Livre.LIV_Titre, Bibliotheque.BIB_Libelle, Exemplaire.EXE_Id, Reservation.LEC_Id, Livre.LIV_Image, Exemplaire.EXE_Code
END









GO
/****** Object:  StoredProcedure [lecteur].[RES_ReserverLivre]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Farid ID BOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<PROCEDURE POUR RESERVER UN LIVRE>
-- =============================================
CREATE PROCEDURE [lecteur].[RES_ReserverLivre]
	-- Parametres
	@Liv_Id int,
	@Lec_Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT EXE_Id FROM Exemplaire WHERE LIV_Id = @Liv_Id AND EXE_Indisponible = 0)
		BEGIN
			PRINT 'Le Livre que vous essqyez de reserver est actuellement disponible à l"emprunt si vous voulez l"emprunter maintenant...'
		END
	
	INSERT INTO Reservation (RES_DateReservation, RES_Supprimee, LEC_Id, LIV_Id) VALUES (GETDATE(), 0, @Lec_Id, @Liv_Id)
		

END









GO
/****** Object:  Trigger [dbo].[TR_MaxEmprunt]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Farid ID BOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<TRIGGER QUI EMPECHE L'INSERTION D'UN EMPRUNT DONT L'EXEMPLAIRE N'EST PAS DISPONIBLE>
-- =============================================
CREATE TRIGGER [dbo].[TR_MaxEmprunt]
   ON [dbo].[Emprunt]
   FOR INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @Lec_Id int
	DECLARE @Bib_Id int
	DECLARE @EmpruntBibAnnexe int
	DECLARE @EmpruntBibPrincipale int
	DECLARE @Exe_Id int

	--recup de l'id du lecteur qui fait l'emprunt ainsi que l'id du livre
	select @Lec_Id = LEC_Id, @Exe_Id = EXE_Id FROM inserted

	--recup de l'id de la bibli principale du lecteur qui emprunte
	SELECT	@Bib_Id = Bibliotheque.BIB_ID
	FROM	Bibliotheque INNER JOIN
			Lecteur ON Bibliotheque.BIB_ID = Lecteur.BIB_ID
	WHERE	(Lecteur.LEC_Id = @Lec_Id)

	
	set @EmpruntBibPrincipale =(
	SELECT	COUNT(Bibliotheque.BIB_ID) AS NbEmpruntBibPrincipale
	FROM	Emprunt INNER JOIN
			Exemplaire ON Emprunt.EXE_Id = Exemplaire.EXE_Id INNER JOIN
			Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
	WHERE	(Emprunt.EMP_DateRetour IS NULL) AND (Emprunt.LEC_Id =1) AND (Bibliotheque.BIB_ID = 2)
	GROUP BY Emprunt.LEC_Id)


	set @EmpruntBibAnnexe =(
	SELECT	COUNT(Bibliotheque.BIB_ID) AS NbEmpruntBibPrincipale
	FROM	Emprunt INNER JOIN
			Exemplaire ON Emprunt.EXE_Id = Exemplaire.EXE_Id INNER JOIN
			Bibliotheque ON Exemplaire.BIB_ID = Bibliotheque.BIB_ID
	WHERE	(Emprunt.EMP_DateRetour IS NULL) AND (Emprunt.LEC_Id = 1) AND (Bibliotheque.BIB_ID <> 2)
	GROUP BY Emprunt.LEC_Id)

	--Test du nombre d'emprunt
	IF(@EmpruntBibAnnexe + @EmpruntBibPrincipale > 5 OR @EmpruntBibAnnexe > 3)
	BEGIN
		RAISERROR (21000,-1,-1, 'vous avez emprunté trop de livres')

		ROLLBACK
	END
END





GO
ALTER TABLE [dbo].[Emprunt] ENABLE TRIGGER [TR_MaxEmprunt]
GO
/****** Object:  Trigger [dbo].[TR_MaxRetard]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Farid ID BOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<TRIGGER QUI EMPECHE L'INSERTION D'UN EMPRUNT DONT L'EXEMPLAIRE N'EST PAS DISPONIBLE>
-- =============================================
CREATE TRIGGER [dbo].[TR_MaxRetard]
   ON [dbo].[Emprunt]
   FOR INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @Lec_Id int

	--recup de l'id du lecteur qui fait l'emprunt ainsi que l'id du livre
	select @Lec_Id = LEC_Id FROM inserted

	--recherche si il y a plus de 2 exemplaires de retard pour ce lecteur
	IF((SELECT        COUNT(dbo.EMP_CalculJoursRetard(EMP_DateEmprunt)) AS [Nombre Retards]
		FROM            Emprunt
		WHERE        (LEC_Id = @Lec_Id) AND (dbo.EMP_CalculJoursRetard(EMP_DateEmprunt) > 0)
		GROUP BY EMP_DateRetour, LEC_Id
		HAVING        (EMP_DateRetour IS NULL)) >= 2)
	BEGIN
		RAISERROR (22000,-1,-1, 'Vous ne pouvez pas emprunter de livre tant que vous n''avez pas reglé vos retards')

		ROLLBACK
	END

END






GO
ALTER TABLE [dbo].[Emprunt] ENABLE TRIGGER [TR_MaxRetard]
GO
/****** Object:  Trigger [dbo].[TR_NoInsertExemplaireIndisponible]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Farid ID BOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<TRIGGER QUI EMPECHE L'INSERTION D'UN EMPRUNT DONT L'EXEMPLAIRE N'EST PAS DISPONIBLE>
-- =============================================
CREATE TRIGGER [dbo].[TR_NoInsertExemplaireIndisponible]
   ON [dbo].[Emprunt]
   FOR INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @Disponibilité bit
	
	SELECT @Disponibilité =  Exemplaire.EXE_Indisponible
	FROM   Emprunt, Exemplaire, inserted
    WHERE  Emprunt.EXE_Id = Exemplaire.EXE_Id
		AND Emprunt.EXE_Id = inserted.EXE_Id
    
	IF(@Disponibilité=1)
	BEGIN	
		RAISERROR (23000,-1,-1, 'Emprunt impossible, exemplaire indisponible')

	ROLLBACK
	END
	
END





GO
ALTER TABLE [dbo].[Emprunt] ENABLE TRIGGER [TR_NoInsertExemplaireIndisponible]
GO
/****** Object:  Trigger [dbo].[TR_NoInsertDoubleReservation]    Script Date: 13-Jan-17 07:26:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Farid IDBOURHIM, Simon ENCEV>
-- Create date: <28/12/2016>
-- Description:	<TRIGGER QUI EMPECHE L"INSERTION D"UNE DOUBLE RESERVATION POUR LE MEME LECTEUR POUR LE MEME LIVRE ET LE MEME JOUR >
-- =============================================
CREATE TRIGGER [dbo].[TR_NoInsertDoubleReservation] 
   ON  [dbo].[Reservation]
   FOR INSERT
AS 
BEGIN
	DECLARE @LectId int, @LivId int, @NbEmprunt int
	SELECT @LectId = LEC_Id FROM INSERTED 
	SELECT @LivId = LIV_Id FROM INSERTED

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SET @NbEmprunt =(
	SELECT COUNT(RES_Id) FROM Reservation WHERE Reservation.LEC_Id = @LectId AND Reservation.LIV_Id = @LivId AND Reservation.RES_Supprimee = 0
    )

	IF ( @NbEmprunt > 1)
	BEGIN
		RAISERROR (24000,-1,-1, 'Action impossible, vous avez déjà reservé ce livre')

		ROLLBACK
	END

END






GO
ALTER TABLE [dbo].[Reservation] ENABLE TRIGGER [TR_NoInsertDoubleReservation]
GO
USE [master]
GO
